# Dependencies
*node_modules*
npm-debug.log*
package-lock.json
/.pnp
.pnp.js
yarn-debug.log*
yarn-error.log*

# Airborn App
/Web/
/Mobile/

# Env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Testing
/coverage
/reports
test-report.xml

# production
/build
/dist

# Log
*.log
log.txt

# Emacs
*~
\#*#
.#*

# Idea
.idea/

# SublimeText
*.sublime-project
*.sublime-workspace

# Visual Studio
.vs

# MacOS
*.DS_Store

# Windows
Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

# Misc
pasPush/
*.sw[mnpcod]
*.tmp*
*.eslintcache
.config/
