# Node & npm
*node_modules*
package-lock.json
npm-debug.log*
*.eslintcache
.config/

# Log
*.log
log.txt

# Emacs
*~
\#*#
.#*

# SublimeText
*.sublime-project
*.sublime-workspace

# Visual Studio
.vs

# MacOS
*.DS_Store

# Windows
Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

# Other
pasPush/
*.sw[mnpcod]
*.tmp
*.tmp.*
